<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Logistic Express - Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename="img/favicon.ico") }} ">
    <link rel="stylesheet" href="{{ url_for("static", filename='css/admin.css') }} ">
    <link rel="stylesheet" href="{{ url_for("static", filename='remixicon/remixicon.css') }}">
    {% block head %} {% endblock %}
</head>
<body>



{% block body %} {% endblock %}
</body>
<script src=" {{ url_for("static", filename='js/vendor/jquery-1.12.4.min.js') }} "></script>
<script src="{{ url_for("static", filename='js/sweetalert.min.js') }}"></script>
<script src="{{ url_for("static", filename='processor/admin.js') }}"></script>

</html>